<a href="http://www.bandsintown.com" class="bit-widget-initializer" data-artist="{{ artist }}" {{ data_attributes }}>Bandsintown</a>
{% if show_button %}
    <iframe src="https://www.bandsintown.com/artist/{{ artist }}/track_button?size={{ size }}&display_tracker_count={{ display_tracker_count }}&text_color={{ text_color }}&background_color={{ background_color }}&hover_color={{ hover_color }}" {{ button_attributes }}></iframe>
{% endif %}
